<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>redhat-techpreview-all-repository</id>
			<repositories>
				<repository>
					<id>redhat-techpreview-all-repository</id>
					<name>Red Hat Tech Preview repository (all)</name>
					<url>http://maven.repository.redhat.com/techpreview/all/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>redhat-techpreview-all-repository</id>
					<name>Red Hat Tech Preview repository (all)</name>
					<url>http://maven.repository.redhat.com/techpreview/all/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>hudson-repository</id>
			<repositories>
				<repository>
					<id>hudson-repository</id>
					<url>http://repository.engineering.redhat.com/nexus/content/groups/hudson-jb-ip-6.1-build</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>hudson-repository</id>
					<url>http://repository.engineering.redhat.com/nexus/content/groups/hudson-jb-ip-6.1-build</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>brewroot-repository</id>
			<repositories>
				<repository>
					<id>brewroot-repository</id>
					<url>http://download.lab.bos.redhat.com/brewroot/repos/jb-bxms-6.3-build/latest/maven</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>brewroot-repository</id>
					<url>http://download.lab.bos.redhat.com/brewroot/repos/jb-bxms-6.3-build/latest/maven</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>redhat-techpreview-all-repository</activeProfile>
		<activeProfile>hudson-repository</activeProfile>
		<activeProfile>brewroot-repository</activeProfile>
	</activeProfiles>

</settings>
